* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider-container {
    width: 1280px;
    margin: auto;
    border: 5px solid black;
    overflow: hidden;

}

.slider-slide {
    display: flex;
}

.slider-slide img {    
    width: 1280px;
    height: 853px;
}
